# Environment & Caches
__pycache__/
*.pyc
env/
venv/
.pytest_cache/

# Node / React Frontend
frontend/node_modules/
frontend/dist/
.env.local
.DS_Store

# Databases & Machine Learning Caches
*.db
*.sqlite
*.sqlite3
*.pkl
models/face_encodings.pkl

# Documents
*.pdf
*.docx
*.doc
*.pptx
*.txt

# GLOBALLY IGNORE ALL IMAGES EVERYWHERE
*.jpg
*.jpeg
*.png
*.img

# GLOBALLY IGNORE DATA DIRECTORY
data/
